*{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ddd0dd;
}

h1{
  background-color: #500350;
  color: white;
  height: 60px;
  line-height: 60px;
}

.choice{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;

  
}


.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  gap: 4px;
}

.choice:hover{
  opacity: 0.6;
  cursor: pointer;
  background-color: rgb(98, 156, 233);
}

.scoreboard{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 50px;
  gap: 50px;
}

#user-score , #comp-score{
  font-size: 40px;

}
.msg-container{
  margin: 40px;
}
#msg{
  
  display: inline;
  background-color:#500350 ;
  color: white;
  font-size: 15px;
  border-radius: 12px;
  padding:6px;
}

